apiVersion: apps/v1
kind: Deployment
metadata:
  name: jlc-bookstore-deployment
  labels:
    app: jlc-bookstore
    tier: front-end
spec:
  replicas: 2
  selector:
    matchLabels:
      app: jlc-bookstore
      tier: front-end
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: jlc-bookstore
        tier: front-end
    spec:
      restartPolicy: Always
      containers:
      - env:
        - name: JLC_MYSQL_DATABASE
          value: myjlcbs
        - name: JLC_MYSQL_ROOT_PASSWORD
          value: srinivas
        - name: JLC_MYSQL_USER
          value: srinivas
        - name: JLC_MYSQL_PASSWORD
          value: srinivas
        - name: JLC_MYSQL_HOST
          value: jlc-mysql
        - name: JLC_MYSQL_PORT
          value: "3306"
        image: dandesclasses/myjlc-bookstore:5.1.0
        name: jlc-bookstore-container
        ports:
        - containerPort: 8080
